<!DOCTYPE html>
<html lang="FR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ titre }}</title>

    <!-- CSS -->
    <link href="asset/css/bootstrap.min.css" rel="stylesheet">
    <link href="asset/css/cover.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
          <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand">{{ titre_principale }}</h3>
              <nav class="nav nav-masthead justify-content-center">
                  <a class="nav-link active" href="{{ lien_1 }}">{{ lien_nom_1 }}</a>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://127.0.0.1/ppe2/connexion.php" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Connexion
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="http://127.0.0.1/ppe2/connexion.php">Jeune</a>
                      <a class="dropdown-item" href="#">Partenaire</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Administrateur</a>
                    </div>
                  </li>
                   <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://127.0.0.1/ppe2/connexion.php" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Inscription
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="http://127.0.0.1/ppe2/connexion.php">Jeune</a>
                      <a class="dropdown-item" href="#">Partenaire</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Administrateur</a>
                    </div>
                  </li>
              </nav>
            </div>
          </header>

          <main role="main" class="inner cover">
            <h1 class="cover-heading">{{ titre_de_la_page }}</h1>
            <p class="lead">{{ contenu }}</p>
            <p class="lead"><a href="{{ lien }}" class="btn btn-lg btn-secondary">{{ bouton_nom }}</a></p>
          </main>
          
          <footer class="mastfoot mt-auto">
            <div class="inner">
              <p>Copyright &copy; Cheik-Siramakan Keita 2018</p>
            </div>
        </footer>
    </div>

    <script src="asset/js/jquery-3.3.1.slim.min.js"></script>
    <script>window.jQuery || document.write('<script src="asset/js/jquery-3.3.1.slim.min.js"><\/script>')</script>
    <script src="asset/js/popper.min.js"></script>
    <script src="asset/js/bootstrap.min.js"></script>
  </body>
</html>
