<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Connexion</title>

        <!-- CSS -->
    </head>

    <body>
        <h1 class="text-muted">Connexion</h1>
         {% block body %}
            <form method="POST">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" placeholder="Identifiant" required autofocus>
          
                <input type="password" name="password" id="inputPassword" placeholder="Mot de passe" required>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        
                <button type="submit">Connexion</button>
            </form>
        {% endblock %}
        
        <footer><p>&copy; Cheik-Siramakan Keita 2018-{{ "now"|date('Y') }}</p></footer>

        <!-- Scripts -->
    </body>
</html>