<!DOCTYPE html>

<html lang="fr">
  <head>
  	<meta charset="utf-8">
    <title>Administrateur</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" href="https://v4-alpha.getbootstrap.com/examples/narrow-jumbotron/narrow-jumbotron.css" >
    <link rel="stylesheet" href="moncss.css"> <!-- mon CSS -->
    <link rel="shortcut icon" href="images/favicon.ico" /> <!-- Icone du site -->

  </head>

  <body>
  	<div class="container">
  		<div class="header clearfix">
  			<h1 class="text-muted">Lycée du Parc de Vilegénis</h1>
  		</div>

  		<div class="jumbotron">
  			<a href="administrateurjeune.php" class="btn btn-primary btn-lg btn-block">Gérer les Jeunes</a>
  			<a href="administrateuroffre.php" class="btn btn-primary btn-lg btn-block">Gérer les Offres</a>
  			<a href="administrateurpartenaire.php" class="btn btn-primary btn-lg btn-block">Gérer les Partenaire</a>
  			<a href="administrateuradmin.php" class="btn btn-primary btn-lg btn-block">Gérer les Administrateur</a>
    	</div>

    	<hr>

    	<footer>
        <p>&copy; Cheik-Siramakan Keita 2018-{{ "now"|date('Y') }}</p>
      </footer>
    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <script rel="text/javaScript" src=""></script> <!-- mon script -->
  </body>
</html>