{% extends 'administrateur/modification_des_informations.html.twig' %}

{% block body %}
	{{ form_start(form) }}
	{{ form_end(form) }}
	<a href="{{ path('gestion_des_partenaires') }}">Retour</a>
{% endblock %}