@keyframes boutton_intro{
    from {
        width: 0%;
        height: 0%;
        background-color: transparent;
    }
    to {
        width: 33%;
        height: 100%;
    }
}

@keyframes background_intro{
    from{
        background: white;
    }
    to{
        background: red;
    }
}

html, body {
    height: 100%;
    margin: 0;
}

div {
    height: 100%;
    width: 100%;
    background-color: transparent;
    float: left;
}

button {
    animation-name: boutton_intro;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s;
}

button:hover{
    width: 20%;
}

.bouton-gauche{
    background-color: green;
}

.bouton-centre{
    background-color: red;
}

.bouton-droite{
    background-color: yellow;
}
/*
#left {
    width:33.3333333333333%;
    background-color: transparent;
}

#center {
    width: 33.3333333333333%;
    background-color: transparent;
}

#right {
    width: 33.3333333333333%;
    background-color: transparent;
}
*/