{% extends 'default/index.html.twig' %}

{% block title %}Gestion Offres{% endblock %}

{% block body %}
	<a href="{{ path('parteniare_ajout_offres') }}" class="btn btn-primary btn-lg btn-block">Ajouter une nouvelle offre</a>
    <a href="{{ path('app_login') }}" class="btn btn-primary btn-lg btn-block">Gérer les offres</a>
    <a href="{{ path('accueil') }}" class="btn btn-warning btn-lg btn-block">Retour</a>
    <a href="{{ path('app_logout') }}" class="btn btn-danger btn-lg btn-block">Deconnexion</a>
{% endblock %}
