.container{
	display: grid;
	grid-template-column: 1fr 1fr 1fr 1fr;
	grid-template-row: 1fr 1fr 1fr 1fr 1fr;
	grid-row-gap: 10px;
	grid-template-areas:
		". navbar navbar ."
		". map map ."
		". description description ."
		". tableau tableau ."
		". footer footer ."
}

.navbar{
	grid-area: navbar;
	background-colour: black;
	text-align: center;
}

#map{
	grid-area: map;
	background-colour: black;
}

#description{
	grid-area: description;
	background-colour: black;
}

#tableau{
	grid-area: tableau;
	background-colour: black;
}

.footer{
	grid-area: footer;
	background-colour: black;
	text-align: center;
} 
