{% extends 'default/index.html.twig' %}

{% block title %}Gestion Offres{% endblock %}

{% block body %}
	<a href="{{ path('ajout_des_offres') }}">Ajouter une nouvelle offre</a>
    <a href="{{ path('liste_des_offres_partenaire') }}">Gérer les offres</a>
    <a href="{{ path('accueil') }}">Retour</a>
    <a href="{{ path('app_logout') }}">Deconnexion</a>
{% endblock %}
