<!DOCTYPE html>
<html lang="FR">
	<head>
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="web/css/index.css">
		
		<title>Accueil</title>
	</head>

	<body>
		<div class="container">
			<div class="navbar">
				<ul>
					<li><a href="{{ url }}administrateur/connexion">Administrateurdjkvbjdhvbdxhubv</a></li>
					<li><a href="{{ url }}partenaire/connexion">Partenaire</a></li>
					<li><a href="{{ url }}jeune/connexion">Jeune</a></li>
				</ul>
			</div>

			<div id="map"></div>

			<div id="description"></div>
				
			<div id="tableau">
			</div>
	
			<div class="footer">
				<footer><p>&copy; Copyright <a href="http://82.123.7.148:6227/">Cheik-Siramakan Keita</a> {{ year }}<p></footer>
			</div>
		</div>
	</body>
</html>
